# Merge submissions

In [4]:
import os
import pandas as pd
import numpy as np
import hashlib

In [5]:
def enhance_submission(df, verbose = False, enhancement_2=True):
    print(df.columns)
    df.columns = df.columns.astype(int)
    series = df.idxmax(axis=1).astype(int)
    duplicates_dict = series.groupby(series).apply(lambda x: x.index.tolist()).to_dict()

    # Filter the dictionary to include only duplicates
    duplicates_dict = {key: value for key, value in duplicates_dict.items() if len(value) > 1}

    missing_values = [value for value in range(3301) if value not in series.values]
    if verbose:
        print(f"{len(duplicates_dict)} molecules have multiple descriptions.")
        print(f"{len(missing_values)} molecules have no description.")

    df_opti = df.copy()
    delta = 1e-4
    tol = 1e-5
    for molecule, descriptions in duplicates_dict.items():
        if enhancement_2 and len(descriptions)>=3:
            best_diff = 0
            for desc in descriptions:
                diff = -df.loc[desc].nlargest(2).diff().iloc[1]
                if diff > best_diff:
                    best_desc = desc
                    best_diff = diff
            for desc in descriptions:
                largest2 = df.loc[desc].nlargest(2)
                if desc != best_desc: 
                    if largest2.index[1] in missing_values:
                        df.iloc[desc, largest2.index[0]] = df.iloc[desc, largest2.index[1]]
                        df.iloc[desc, largest2.index[1]] = df.iloc[desc, largest2.index[0]]
                    else:
                        df.iloc[desc, largest2.index[0]] = df.iloc[desc, largest2.index[1]] 
        if len(descriptions)==2:
            largest2_0 = df.loc[descriptions[0]].nlargest(2)
            largest2_1 = df.loc[descriptions[1]].nlargest(2)
            diff_0 = -largest2_0.diff().iloc[1]
            diff_1 = -largest2_1.diff().iloc[1]
            if diff_0 > diff_1 + tol:
                if largest2_1.index[1] in missing_values:
                    if verbose:
                        print(f"\n0")
                        print(largest2_0)
                        print(largest2_1)
                        print(f"{largest2_1.index[1]} in missing values {largest2_1.index[1] in missing_values}")
                    df_opti.iloc[descriptions[0], largest2_0.index[0]] = df.iloc[descriptions[0], largest2_0.index[0]] + delta
                    df_opti.iloc[descriptions[0], largest2_0.index[1]] = df.iloc[descriptions[0], largest2_0.index[1]] - delta
                    df_opti.iloc[descriptions[1], largest2_1.index[0]] = df.iloc[descriptions[1], largest2_1.index[1]] - delta
                    df_opti.iloc[descriptions[1], largest2_1.index[1]] = df.iloc[descriptions[1], largest2_1.index[0]] + delta
                    if verbose:
                        print(f"{largest2_0.index[0]}:{df_opti.iloc[descriptions[0], largest2_0.index[0]]:.4f}", f"{largest2_0.index[1]}:{df_opti.iloc[descriptions[0], largest2_0.index[1]]:.4f}")
                        print(f"{largest2_1.index[0]}:{df_opti.iloc[descriptions[1], largest2_1.index[0]]:.4f}", f"{largest2_1.index[1]}:{df_opti.iloc[descriptions[1], largest2_1.index[1]]:.4f}\n")
            if tol + diff_0 < diff_1:
                if largest2_0.index[1] in missing_values:
                    if verbose:
                        print(f"\n1")
                        print(largest2_1)
                        print(largest2_0)
                        print(f"{largest2_0.index[1]} in missing values {largest2_0.index[1] in missing_values}")
                    df_opti.iloc[descriptions[1], largest2_1.index[0]] = df.iloc[descriptions[1], largest2_1.index[0]] + delta
                    df_opti.iloc[descriptions[1], largest2_1.index[1]] = df.iloc[descriptions[1], largest2_1.index[1]] - delta
                    df_opti.iloc[descriptions[0], largest2_0.index[0]] = df.iloc[descriptions[0], largest2_0.index[1]] - delta
                    df_opti.iloc[descriptions[0], largest2_0.index[1]] = df.iloc[descriptions[0], largest2_0.index[0]] + delta
                    if verbose:
                        print(f"{largest2_1.index[0]}:{df_opti.iloc[descriptions[1], largest2_1.index[0]]:.4f}", f"{largest2_1.index[1]}:{df_opti.iloc[descriptions[1], largest2_1.index[1]]:.4f}")
                        print(f"{largest2_0.index[0]}:{df_opti.iloc[descriptions[0], largest2_0.index[0]]:.4f}", f"{largest2_0.index[1]}:{df_opti.iloc[descriptions[0], largest2_0.index[1]]:.4f}\n")
    df_opti['ID'] = df_opti.index
    df_opti = df_opti[['ID'] + [col for col in df_opti.columns if col!='ID']]
    return df_opti

In [6]:
submissions_path = '/Data/altegradsubmissions/'

l = os.listdir(submissions_path)

l.sort()
l

['submission_ 0.8544.csv',
 'submission_0.8499.csv',
 'submission_0.8672.csv',
 'submission_CLIP_Chembert_GraphTrans4blocks_temp007_700epoch_plus400fineclip.csv',
 'submission_CLIP_TLearn_GraphPNA2_Chembert.csv',
 'submission_CLIP_TLearn_GraphPNA2_Chembert_fineclip.csv',
 'submission_CLIP_TLearn_GraphResGIN_6blocks.csv',
 'submission_CLIP_TLearn_GraphResGIN_7blocks.csv',
 'submission_CLIP_TLearn_GraphResGIN_8blocks.csv',
 'submission_CLIP_TLearn_GraphResGIN_8blocks_v2.csv',
 'submission_CLIP_TLearn_GraphUnet_Chembert_fineclip.csv',
 'submission_CLIP_Tlearn_Chembert_GraphTrans2_4blocks.csv',
 'submission_CLIP_Tlearn_Chembert_GraphTrans2_4blocks_fineclip.csv',
 'submission_CLIP_Tlearn_Chembert_GraphTrans_2blocks.csv',
 'submission_CLIP_Tlearn_Chembert_GraphTrans_3blocks.csv',
 'submission_CLIP_Tlearn_Chembert_GraphTrans_5blocks.csv',
 'submission_CLIP_Tlearn_Chembert_GraphTrans_6blocks.csv',
 'submission_FineCLIP_T7e-2_Chembert_GUnet2_finecliped_twice.csv',
 'submission_Graph_Transformer4blocks_temp7e-2_550epochs',
 'submission_Graph_Transformer4blocks_temp7e-2_700epochs.csv',
 'submission_model_cbert_gatres_4blocks_2heads.pt.csv',
 'submission_model_cbert_hyb_gatv2_gin_2.pt.csv',
 'submission_model_cbert_hyb_trans_sage2_0907.pt.csv',
 'submission_model_cbert_hyb_trans_sage3_09208_full.pt.csv',
 'submission_model_cbert_sageres_09084.pt.csv',
 'submission_model_cbert_transf_4blocks_2heads_2_09175.pt.csv',
 'submission_moe.csv',
 'submission_moe_0f0d96e8233c4b5630368b907c07a444.csv',
 'submission_moe_11366ad47f4f3d55074cd11ea6295ae5_post_enhanced.csv',
 'submission_moe_1beeccf7906c9ab14b0efae20364cf91_post_enhanced.csv',
 'submission_moe_44f9c46d2d202b1ea8474cea0887f8ba.csv',
 'submission_moe_4c599eb27cfffcdd269f31ebc705b87c_post_enhanced.csv',
 'submission_moe_5007f49263c84ace1c1bc534145afe05_post_enhanced.csv',
 'submission_moe_5007f49263c84ace1c1bc534145afe05_pre_enhanced.csv',
 'submission_moe_6caa31bfd0b5073969c6869fcb9beebe_post_enhanced.csv',
 'submission_moe_74af8393e25cb288a684b78f20954499_post_enhanced.csv',
 'submission_moe_85a265892ca4467d0e5c08908dea7117_post_enhanced.csv',
 'submission_moe_94f7c1f7f55f7a92ce9fe017fc9439f2_post_enhanced.csv',
 'submission_moe_9e43d1acbfb57fcf4e0f315aec3437be_post_enhanced.csv',
 'submission_moe_c31f29c3aa230977b0d02a1ab7e9d514.csv',
 'submission_moe_c8c7b5e227815aa6138073ba73dd4431_post_enhanced.csv',
 'submission_moe_d251357acffd3eab33ccf8b487f319c5_post_enhanced.csv',
 'submission_moe_e21157c8dce9511704c326d813662df4_post_enhanced.csv',
 'submission_old.csv']

In [9]:
submissions_to_keep = [0,1,2,3,5,6,7,8,9,10,11,12,13,14,15,17,19, 20, 21, 23, 24, 25]
for i in submissions_to_keep:
    print(l[i])

submission_ 0.8544.csv
submission_0.8499.csv
submission_0.8672.csv
submission_CLIP_Chembert_GraphTrans4blocks_temp007_700epoch_plus400fineclip.csv
submission_CLIP_TLearn_GraphPNA2_Chembert_fineclip.csv
submission_CLIP_TLearn_GraphResGIN_6blocks.csv
submission_CLIP_TLearn_GraphResGIN_7blocks.csv
submission_CLIP_TLearn_GraphResGIN_8blocks.csv
submission_CLIP_TLearn_GraphResGIN_8blocks_v2.csv
submission_CLIP_TLearn_GraphUnet_Chembert_fineclip.csv
submission_CLIP_Tlearn_Chembert_GraphTrans2_4blocks.csv
submission_CLIP_Tlearn_Chembert_GraphTrans2_4blocks_fineclip.csv
submission_CLIP_Tlearn_Chembert_GraphTrans_2blocks.csv
submission_CLIP_Tlearn_Chembert_GraphTrans_3blocks.csv
submission_CLIP_Tlearn_Chembert_GraphTrans_5blocks.csv
submission_FineCLIP_T7e-2_Chembert_GUnet2_finecliped_twice.csv
submission_Graph_Transformer4blocks_temp7e-2_700epochs.csv
submission_model_cbert_gatres_4blocks_2heads.pt.csv
submission_model_cbert_hyb_gatv2_gin_2.pt.csv
submission_model_cbert_hyb_trans_sage3_09208_full.pt.csv
submission_model_cbert_sageres_09084.pt.csv
submission_model_cbert_transf_4blocks_2heads_2_09175.pt.csv

In [11]:
weights = [1,1,1,1,2,2,2,2,2,1,1,1,1,1,1,2,1, 2, 2, 2, 2, 2]
len(submissions_to_keep), len(weights)

(22, 22)

In [12]:
pre_enhance = False
post_enhance = True
np_sim_list = []
for i in submissions_to_keep:
    if pre_enhance:
        df = enhance_submission(pd.read_csv(submissions_path + l[i], index_col=0))
    else:
        df = pd.read_csv(submissions_path + l[i], index_col=0)
    np_sim_list.append(df.values)

In [13]:
## Renormalize each similarity list to the range 0, 1
for i in range(len(np_sim_list)):
    np_sim_list[i] = (np_sim_list[i] - np_sim_list[i].min()) / (np_sim_list[i].max() - np_sim_list[i].min())

## Compute the mean of the similarity lists
#np_sim_mean = np.mean(np_sim_list, axis=0)
np_sim_mean = np.zeros_like(np_sim_list[0])
for i in range(len(np_sim_list)):
    np_sim_mean += weights[i] * np_sim_list[i]
np_sim_mean /= np.sum(weights)

In [14]:
np_sim_mean.shape

(3301, 3301)

In [15]:
all_names = ""
for i in submissions_to_keep:
    all_names += l[i][:-4] + '_'
hash = hashlib.md5(all_names.encode('utf-8')).hexdigest() 
if pre_enhance and not post_enhance:
    submission_name = 'submission_moe_{}_pre_enhanced.csv'.format(hash)
elif not pre_enhance and post_enhance:
    submission_name = 'submission_moe_{}_post_enhanced.csv'.format(hash)
elif pre_enhance and post_enhance:
    submission_name = 'submission_moe_{}_pre_post_enhanced.csv'.format(hash)
else:
    submission_name = 'submission_moe_{}.csv'.format(hash)
submission_name

'submission_moe_fd46186e15924352d462f174d3fb8c99_post_enhanced.csv'

In [20]:
solution = pd.DataFrame(np_sim_mean)
solution['ID'] = solution.index
solution = solution[['ID'] + [col for col in solution.columns if col!='ID']]
#Get filename of ckpt then use it as filename of submission
solution.to_csv('/Data/altegradsubmissions/' + submission_name, index=False, float_format='%.5f')

In [19]:
if post_enhance:
    solution = pd.DataFrame(np_sim_mean)
    solution = enhance_submission(solution, verbose=True)
    solution['ID'] = solution.index
    solution = solution[['ID'] + [col for col in solution.columns if col!='ID']]
    solution.to_csv('/Data/altegradsubmissions/' + submission_name, index=False, float_format='%.9f')

RangeIndex(start=0, stop=3301, step=1)
218 molecules have multiple descriptions.
236 molecules have no description.

0
35      0.900528
2401    0.893349
Name: 1409, dtype: float64
35      0.892518
2401    0.891597
Name: 1903, dtype: float64
2401 in missing values True
35:0.9006 2401:0.8932
35:0.8915 2401:0.8926


1
62      0.913119
2549    0.847416
Name: 2498, dtype: float64
62      0.881748
2549    0.879328
Name: 1098, dtype: float64
2549 in missing values True
62:0.9132 2549:0.8473
62:0.8792 2549:0.8818


0
69     0.919852
628    0.919810
Name: 274, dtype: float64
69     0.918515
628    0.918485
Name: 1863, dtype: float64
628 in missing values True
69:0.9200 628:0.9197
69:0.9184 628:0.9186


0
79    0.917798
3     0.908093
Name: 790, dtype: float64
79    0.909982
3     0.905761
Name: 2963, dtype: float64
3 in missing values True
79:0.9179 3:0.9080
79:0.9057 3:0.9101


1
100     0.913039
2369    0.913009
Name: 2115, dtype: float64
100     0.913009
2369    0.912996
Name: 952, dtype: float64
2369 in missing values True
100:0.9131 2369:0.9129
100:0.9129 2369:0.9131


1
156    0.915167
752    0.914937
Name: 3168, dtype: float64
156    0.913776
752    0.913564
Name: 2423, dtype: float64
752 in missing values True
156:0.9153 752:0.9148
156:0.9135 752:0.9139


1
312    0.894994
678    0.874741
Name: 1871, dtype: float64
312    0.894970
678    0.885197
Name: 202, dtype: float64
678 in missing values True
312:0.8951 678:0.8746
312:0.8851 678:0.8951


0
331    0.904701
555    0.820673
Name: 306, dtype: float64
331     0.82133
1827    0.81291
Name: 1342, dtype: float64
1827 in missing values True
331:0.9048 555:0.8206
331:0.8128 1827:0.8214


0
359    0.882597
784    0.878563
Name: 1218, dtype: float64
359    0.882271
784    0.882053
Name: 2101, dtype: float64
784 in missing values True
359:0.8827 784:0.8785
359:0.8820 784:0.8824


0
363    0.905631
335    0.820147
Name: 568, dtype: float64
363    0.878335
335    0.851092
Name: 579, dtype: float64
335 in missing values True
363:0.9057 335:0.8200
363:0.8510 335:0.8784


0
439     0.906764
1993    0.906710
Name: 288, dtype: float64
439     0.904464
1993    0.904441
Name: 957, dtype: float64
1993 in missing values True
439:0.9069 1993:0.9066
439:0.9043 1993:0.9046


1
503     0.871802
1321    0.850818
Name: 541, dtype: float64
503     0.859928
2891    0.848530
Name: 261, dtype: float64
2891 in missing values True
503:0.8719 1321:0.8507
503:0.8484 2891:0.8600


1
583    0.914906
445    0.900235
Name: 3052, dtype: float64
583    0.906749
445    0.906173
Name: 1028, dtype: float64
445 in missing values True
583:0.9150 445:0.9001
583:0.9061 445:0.9068


0
588     0.926614
3213    0.926376
Name: 1499, dtype: float64
588     0.929849
3213    0.929649
Name: 1850, dtype: float64
3213 in missing values True
588:0.9267 3213:0.9263
588:0.9295 3213:0.9299


0
592     0.904919
2653    0.861951
Name: 42, dtype: float64
592     0.875054
2653    0.865487
Name: 3039, dtype: float64
2653 in missing values True
592:0.9050 2653:0.8619
592:0.8654 2653:0.8752


1
646     0.911600
2909    0.816471
Name: 615, dtype: float64
646    0.817128
234    0.794856
Name: 505, dtype: float64
234 in missing values True
646:0.9117 2909:0.8164
646:0.7948 234:0.8172


1
660     0.897986
2227    0.875386
Name: 2658, dtype: float64
660     0.867321
2227    0.863099
Name: 1673, dtype: float64
2227 in missing values True
660:0.8981 2227:0.8753
660:0.8630 2227:0.8674


1
696     0.883260
2199    0.881001
Name: 1987, dtype: float64
696     0.879179
2199    0.878459
Name: 1520, dtype: float64
2199 in missing values True
696:0.8834 2199:0.8809
696:0.8784 2199:0.8793


0
727     0.917966
2899    0.911646
Name: 913, dtype: float64
727     0.905145
2899    0.900308
Name: 1953, dtype: float64
2899 in missing values True
727:0.9181 2899:0.9115
727:0.9002 2899:0.9052


0
734     0.883651
3081    0.861158
Name: 940, dtype: float64
734     0.850980
1811    0.841511
Name: 2876, dtype: float64
1811 in missing values True
734:0.8838 3081:0.8611
734:0.8414 1811:0.8511


1
769     0.900965
3155    0.866763
Name: 2434, dtype: float64
769     0.918094
3155    0.890432
Name: 498, dtype: float64
3155 in missing values True
769:0.9011 3155:0.8667
769:0.8903 3155:0.9182


1
815     0.905043
2688    0.884527
Name: 2611, dtype: float64
815     0.865792
2688    0.862958
Name: 409, dtype: float64
2688 in missing values True
815:0.9051 2688:0.8844
815:0.8629 2688:0.8659


1
833     0.887316
1307    0.864098
Name: 1949, dtype: float64
833     0.879659
1307    0.866516
Name: 657, dtype: float64
1307 in missing values True
833:0.8874 1307:0.8640
833:0.8664 1307:0.8798


1
907    0.907868
591    0.877682
Name: 2866, dtype: float64
907    0.907057
591    0.891565
Name: 1222, dtype: float64
591 in missing values True
907:0.9080 591:0.8776
907:0.8915 591:0.9072


1
921    0.890489
334    0.836089
Name: 1247, dtype: float64
921    0.868135
334    0.865506
Name: 655, dtype: float64
334 in missing values True
921:0.8906 334:0.8360
921:0.8654 334:0.8682


0
971     0.878498
3081    0.807935
Name: 636, dtype: float64
971     0.825874
2884    0.813915
Name: 1469, dtype: float64
2884 in missing values True
971:0.8786 3081:0.8078
971:0.8138 2884:0.8260


0
1030    0.914327
3121    0.880772
Name: 1763, dtype: float64
1030    0.882273
405     0.867804
Name: 2577, dtype: float64
405 in missing values True
1030:0.9144 3121:0.8807
1030:0.8677 405:0.8824


0
1199    0.911987
2647    0.832536
Name: 1150, dtype: float64
1199    0.822939
2177    0.801846
Name: 1230, dtype: float64
2177 in missing values True
1199:0.9121 2647:0.8324
1199:0.8017 2177:0.8230


1
1206    0.898847
71      0.888478
Name: 1695, dtype: float64
1206    0.902839
71      0.898718
Name: 196, dtype: float64
71 in missing values True
1206:0.8989 71:0.8884
1206:0.8986 71:0.9029


1
1212    0.912302
1597    0.910991
Name: 2997, dtype: float64
1212    0.910504
1597    0.910071
Name: 1655, dtype: float64
1597 in missing values True
1212:0.9124 1597:0.9109
1212:0.9100 1597:0.9106


1
1264    0.856569
72      0.856455
Name: 3131, dtype: float64
1264    0.843917
72      0.843864
Name: 1289, dtype: float64
72 in missing values True
1264:0.8567 72:0.8564
1264:0.8438 72:0.8440


1
1289    0.885652
97      0.876320
Name: 2388, dtype: float64
1289    0.886061
97      0.884378
Name: 2086, dtype: float64
97 in missing values True
1289:0.8858 97:0.8762
1289:0.8843 97:0.8862


0
1401    0.880861
551     0.831578
Name: 58, dtype: float64
1401    0.867720
1460    0.867426
Name: 538, dtype: float64
1460 in missing values True
1401:0.8810 551:0.8315
1401:0.8673 1460:0.8678


1
1403    0.854347
24      0.822821
Name: 3166, dtype: float64
1403    0.914935
24      0.888123
Name: 2764, dtype: float64
24 in missing values True
1403:0.8544 24:0.8227
1403:0.8880 24:0.9150


1
1426    0.904757
2759    0.893563
Name: 2293, dtype: float64
1426    0.900920
2759    0.896666
Name: 1706, dtype: float64
2759 in missing values True
1426:0.9049 2759:0.8935
1426:0.8966 2759:0.9010


1
1431    0.912023
892     0.883297
Name: 3177, dtype: float64
1431    0.887627
892     0.884943
Name: 1031, dtype: float64
892 in missing values True
1431:0.9121 892:0.8832
1431:0.8848 892:0.8877


1
1472    0.917929
1003    0.884293
Name: 3289, dtype: float64
1472    0.891773
1003    0.886330
Name: 3249, dtype: float64
1003 in missing values True
1472:0.9180 1003:0.8842
1472:0.8862 1003:0.8919


0
1490    0.886284
787     0.881175
Name: 248, dtype: float64
1490    0.884362
787     0.879505
Name: 295, dtype: float64
787 in missing values True
1490:0.8864 787:0.8811
1490:0.8794 787:0.8845


1
1514    0.849016
2604    0.816522
Name: 1660, dtype: float64
1514    0.852775
15      0.852211
Name: 643, dtype: float64
15 in missing values True
1514:0.8491 2604:0.8164
1514:0.8521 15:0.8529


1
1516    0.866504
1727    0.802533
Name: 715, dtype: float64
1516    0.803248
1216    0.800870
Name: 95, dtype: float64
1216 in missing values True
1516:0.8666 1727:0.8024
1516:0.8008 1216:0.8033


0
1579    0.919192
2441    0.917581
Name: 22, dtype: float64
1579    0.915617
2441    0.914219
Name: 3197, dtype: float64
2441 in missing values True
1579:0.9193 2441:0.9175
1579:0.9141 2441:0.9157


1
1626    0.926589
2204    0.858443
Name: 3128, dtype: float64
1626    0.908750
517     0.869376
Name: 1285, dtype: float64
517 in missing values True
1626:0.9267 2204:0.8583
1626:0.8693 517:0.9088


1
1634    0.915446
635     0.877772
Name: 2384, dtype: float64
1634    0.899524
635     0.896420
Name: 2276, dtype: float64
635 in missing values True
1634:0.9155 635:0.8777
1634:0.8963 635:0.8996


1
1639    0.824655
1357    0.824397
Name: 2022, dtype: float64
1639    0.927557
1357    0.927522
Name: 755, dtype: float64
1357 in missing values True
1639:0.8248 1357:0.8243
1639:0.9274 1357:0.9277


0
1642    0.904957
677     0.898554
Name: 293, dtype: float64
1642    0.903683
677     0.901425
Name: 1404, dtype: float64
677 in missing values True
1642:0.9051 677:0.8985
1642:0.9013 677:0.9038


1
1669    0.922775
2001    0.922713
Name: 1723, dtype: float64
1669    0.920995
2001    0.920956
Name: 1149, dtype: float64
2001 in missing values True
1669:0.9229 2001:0.9226
1669:0.9209 2001:0.9211


0
1671    0.904344
2906    0.887057
Name: 3245, dtype: float64
1671    0.913744
2906    0.910717
Name: 3294, dtype: float64
2906 in missing values True
1671:0.9044 2906:0.8870
1671:0.9106 2906:0.9138


0
1673    0.906719
3181    0.842049
Name: 768, dtype: float64
1673    0.863262
3181    0.853566
Name: 3192, dtype: float64
3181 in missing values True
1673:0.9068 3181:0.8419
1673:0.8535 3181:0.8634


0
1720    0.850708
1710    0.801744
Name: 227, dtype: float64
1720    0.917664
1710    0.877946
Name: 2553, dtype: float64
1710 in missing values True
1720:0.8508 1710:0.8016
1720:0.8778 1710:0.9178


0
1727    0.862625
305     0.853314
Name: 1167, dtype: float64
1727    0.824122
1995    0.824122
Name: 2263, dtype: float64
1995 in missing values True
1727:0.8627 305:0.8532
1727:0.8240 1995:0.8242


0
1735    0.883380
407     0.875623
Name: 1246, dtype: float64
1735    0.876388
407     0.869802
Name: 2055, dtype: float64
407 in missing values True
1735:0.8835 407:0.8755
1735:0.8697 407:0.8765


1
1752    0.914882
917     0.844020
Name: 2453, dtype: float64
1752    0.825099
2370    0.825099
Name: 810, dtype: float64
2370 in missing values True
1752:0.9150 917:0.8439
1752:0.8250 2370:0.8252


0
1755    0.908725
1607    0.853190
Name: 1325, dtype: float64
1755    0.868521
2032    0.865288
Name: 2884, dtype: float64
2032 in missing values True
1755:0.9088 1607:0.8531
1755:0.8652 2032:0.8686


1
1815    0.915715
2133    0.860622
Name: 2974, dtype: float64
1815    0.882263
2133    0.847957
Name: 549, dtype: float64
2133 in missing values True
1815:0.9158 2133:0.8605
1815:0.8479 2133:0.8824


0
1816    0.909317
238     0.909270
Name: 329, dtype: float64
1816    0.907288
238     0.907252
Name: 616, dtype: float64
238 in missing values True
1816:0.9094 238:0.9092
1816:0.9072 238:0.9074


0
1828    0.923390
1558    0.923279
Name: 65, dtype: float64
1828    0.923996
1558    0.923896
Name: 97, dtype: float64
1558 in missing values True
1828:0.9235 1558:0.9232
1828:0.9238 1558:0.9241


0
1845    0.920888
1197    0.916282
Name: 2010, dtype: float64
1845    0.926417
1197    0.923625
Name: 2497, dtype: float64
1197 in missing values True
1845:0.9210 1197:0.9162
1845:0.9235 1197:0.9265


0
1890    0.915835
3199    0.835570
Name: 81, dtype: float64
1890    0.837757
1487    0.837402
Name: 871, dtype: float64
1487 in missing values True
1890:0.9159 3199:0.8355
1890:0.8373 1487:0.8379


0
1891    0.907481
3105    0.906632
Name: 2161, dtype: float64
1891    0.905115
3105    0.904850
Name: 2290, dtype: float64
3105 in missing values True
1891:0.9076 3105:0.9065
1891:0.9048 3105:0.9052


0
1900    0.910207
1740    0.823103
Name: 148, dtype: float64
1900    0.875002
1740    0.856261
Name: 2060, dtype: float64
1740 in missing values True
1900:0.9103 1740:0.8230
1900:0.8562 1740:0.8751


1
1913    0.915179
1747    0.854767
Name: 3209, dtype: float64
1913    0.856210
1965    0.831644
Name: 2421, dtype: float64
1965 in missing values True
1913:0.9153 1747:0.8547
1913:0.8315 1965:0.8563


0
1934    0.904870
1359    0.889503
Name: 7, dtype: float64
1934    0.896195
1359    0.894099
Name: 1854, dtype: float64
1359 in missing values True
1934:0.9050 1359:0.8894
1934:0.8940 1359:0.8963


0
1973    0.925079
2805    0.816406
Name: 729, dtype: float64
1973    0.823308
2805    0.819385
Name: 2856, dtype: float64
2805 in missing values True
1973:0.9252 2805:0.8163
1973:0.8193 2805:0.8234


0
2028    0.911087
1477    0.883460
Name: 707, dtype: float64
2028    0.885910
722     0.883456
Name: 1966, dtype: float64
722 in missing values True
2028:0.9112 1477:0.8834
2028:0.8834 722:0.8860


0
2050    0.903766
431     0.866111
Name: 1627, dtype: float64
2050    0.801500
2368    0.788167
Name: 1831, dtype: float64
2368 in missing values True
2050:0.9039 431:0.8660
2050:0.7881 2368:0.8016


1
2068    0.865017
2927    0.802546
Name: 2269, dtype: float64
2068    0.886165
2741    0.850514
Name: 474, dtype: float64
2741 in missing values True
2068:0.8651 2927:0.8024
2068:0.8504 2741:0.8863


1
2104    0.923195
2109    0.875063
Name: 1446, dtype: float64
2104    0.895172
2109    0.883492
Name: 1000, dtype: float64
2109 in missing values True
2104:0.9233 2109:0.8750
2104:0.8834 2109:0.8953


1
2148    0.897859
293     0.875197
Name: 2800, dtype: float64
2148    0.889351
293     0.870072
Name: 303, dtype: float64
293 in missing values True
2148:0.8980 293:0.8751
2148:0.8700 293:0.8895


1
2162    0.917699
2373    0.809031
Name: 3092, dtype: float64
2162    0.889716
70      0.870173
Name: 1526, dtype: float64
70 in missing values True
2162:0.9178 2373:0.8089
2162:0.8701 70:0.8898


1
2166    0.853504
2826    0.817195
Name: 2004, dtype: float64
2166    0.841207
2826    0.828997
Name: 1224, dtype: float64
2826 in missing values True
2166:0.8536 2826:0.8171
2166:0.8289 2826:0.8413


1
2174    0.900190
1788    0.832285
Name: 3281, dtype: float64
2174    0.870142
1788    0.843338
Name: 2261, dtype: float64
1788 in missing values True
2174:0.9003 1788:0.8322
2174:0.8432 1788:0.8702


1
2212    0.851661
255     0.841195
Name: 1391, dtype: float64
2212    0.839304
1397    0.829059
Name: 1184, dtype: float64
1397 in missing values True
2212:0.8518 255:0.8411
2212:0.8290 1397:0.8394


1
2213    0.939430
2672    0.939243
Name: 2759, dtype: float64
2213    0.925044
2672    0.925010
Name: 2668, dtype: float64
2672 in missing values True
2213:0.9395 2672:0.9391
2213:0.9249 2672:0.9251


0
2267    0.894595
1168    0.849033
Name: 105, dtype: float64
2267    0.901521
1168    0.891701
Name: 197, dtype: float64
1168 in missing values True
2267:0.8947 1168:0.8489
2267:0.8916 1168:0.9016


0
2320    0.835070
2214    0.833403
Name: 169, dtype: float64
2320    0.870132
3229    0.870132
Name: 2312, dtype: float64
3229 in missing values True
2320:0.8352 2214:0.8333
2320:0.8700 3229:0.8702


0
2337    0.918073
2237    0.912946
Name: 1896, dtype: float64
2337    0.921052
2237    0.920229
Name: 1917, dtype: float64
2237 in missing values True
2337:0.9182 2237:0.9128
2337:0.9201 2237:0.9212


0
2343    0.903525
711     0.877372
Name: 228, dtype: float64
2343    0.904743
711     0.895693
Name: 1603, dtype: float64
711 in missing values True
2343:0.9036 711:0.8773
2343:0.8956 711:0.9048


0
2345    0.887592
429     0.887427
Name: 943, dtype: float64
2345    0.886776
429     0.886644
Name: 2852, dtype: float64
429 in missing values True
2345:0.8877 429:0.8873
2345:0.8865 429:0.8869


0
2439    0.883351
637     0.870102
Name: 1818, dtype: float64
2439    0.866973
637     0.862165
Name: 3063, dtype: float64
637 in missing values True
2439:0.8835 637:0.8700
2439:0.8621 637:0.8671


1
2442    0.915614
448     0.877626
Name: 1682, dtype: float64
2442    0.873718
1107    0.871471
Name: 413, dtype: float64
1107 in missing values True
2442:0.9157 448:0.8775
2442:0.8714 1107:0.8738


1
2445    0.890171
1425    0.884964
Name: 1840, dtype: float64
2445    0.888987
1425    0.886714
Name: 338, dtype: float64
1425 in missing values True
2445:0.8903 1425:0.8849
2445:0.8866 1425:0.8891


1
2459    0.909513
2865    0.865766
Name: 1450, dtype: float64
2459    0.876898
2865    0.854328
Name: 1147, dtype: float64
2865 in missing values True
2459:0.9096 2865:0.8657
2459:0.8542 2865:0.8770


0
2464    0.837374
551     0.830225
Name: 479, dtype: float64
2464    0.864570
336     0.860128
Name: 1037, dtype: float64
336 in missing values True
2464:0.8375 551:0.8301
2464:0.8600 336:0.8647


0
2480    0.865703
3008    0.802371
Name: 1055, dtype: float64
2480    0.867392
755     0.867141
Name: 3091, dtype: float64
755 in missing values True
2480:0.8658 3008:0.8023
2480:0.8670 755:0.8675


0
2529    0.894590
576     0.879147
Name: 255, dtype: float64
2529    0.892741
3172    0.892630
Name: 2941, dtype: float64
3172 in missing values True
2529:0.8947 576:0.8790
2529:0.8925 3172:0.8928


1
2582    0.914103
2106    0.914072
Name: 1053, dtype: float64
2582    0.925278
2106    0.925278
Name: 326, dtype: float64
2106 in missing values True
2582:0.9142 2106:0.9140
2582:0.9252 2106:0.9254


0
2612    0.895030
2791    0.842013
Name: 2172, dtype: float64
2612    0.829623
657     0.806790
Name: 2437, dtype: float64
657 in missing values True
2612:0.8951 2791:0.8419
2612:0.8067 657:0.8297


1
2627    0.905550
437     0.896489
Name: 1656, dtype: float64
2627    0.904097
437     0.896986
Name: 1588, dtype: float64
437 in missing values True
2627:0.9056 437:0.8964
2627:0.8969 437:0.9042


0
2642    0.882811
15      0.818730
Name: 1634, dtype: float64
2642    0.834975
284     0.823673
Name: 2012, dtype: float64
284 in missing values True
2642:0.8829 15:0.8186
2642:0.8236 284:0.8351


0
2754    0.901459
2433    0.822056
Name: 936, dtype: float64
2754    0.866909
2433    0.849465
Name: 2132, dtype: float64
2433 in missing values True
2754:0.9016 2433:0.8220
2754:0.8494 2433:0.8670


1
2835    0.908624
3109    0.908532
Name: 3210, dtype: float64
2835    0.908711
3109    0.908656
Name: 186, dtype: float64
3109 in missing values True
2835:0.9087 3109:0.9084
2835:0.9086 3109:0.9088


1
2870    0.919487
2392    0.915155
Name: 2427, dtype: float64
2870    0.920948
2392    0.920028
Name: 251, dtype: float64
2392 in missing values True
2870:0.9196 2392:0.9151
2870:0.9199 2392:0.9210


0
2950    0.873148
714     0.865609
Name: 110, dtype: float64
2950    0.841229
714     0.837497
Name: 926, dtype: float64
714 in missing values True
2950:0.8732 714:0.8655
2950:0.8374 714:0.8413


1
2955    0.895995
1926    0.846697
Name: 1482, dtype: float64
2955    0.856461
1794    0.855878
Name: 37, dtype: float64
1794 in missing values True
2955:0.8961 1926:0.8466
2955:0.8558 1794:0.8566


0
2969    0.919305
1894    0.919260
Name: 2386, dtype: float64
2969    0.922510
1894    0.922497
Name: 3201, dtype: float64
1894 in missing values True
2969:0.9194 1894:0.9192
2969:0.9224 1894:0.9226


0
3022    0.882213
2851    0.882048
Name: 1643, dtype: float64
3022    0.897453
2851    0.897384
Name: 2138, dtype: float64
2851 in missing values True
3022:0.8823 2851:0.8819
3022:0.8973 2851:0.8976


1
3061    0.919245
274     0.890546
Name: 2973, dtype: float64
3061    0.906619
274     0.903761
Name: 872, dtype: float64
274 in missing values True
3061:0.9193 274:0.8904
3061:0.9037 274:0.9067


0
3089    0.904455
624     0.855355
Name: 294, dtype: float64
3089    0.872128
141     0.859404
Name: 3109, dtype: float64
141 in missing values True
3089:0.9046 624:0.8553
3089:0.8593 141:0.8722


0
3120    0.853548
2010    0.829442
Name: 367, dtype: float64
3120    0.887495
2684    0.873397
Name: 2014, dtype: float64
2684 in missing values True
3120:0.8536 2010:0.8293
3120:0.8733 2684:0.8876


1
3131    0.894141
2743    0.885104
Name: 3062, dtype: float64
3131    0.885667
2743    0.879178
Name: 2858, dtype: float64
2743 in missing values True
3131:0.8942 2743:0.8850
3131:0.8791 2743:0.8858



In [20]:
strg = ""
for i in submissions_to_keep:
    print(l[i][11:-4])
    strg += l[i][11:-4] + ' '

 0.8544
0.8499
0.8672
CLIP_Chembert_GraphTrans4blocks_temp007_700epoch_plus400fineclip
CLIP_TLearn_GraphPNA2_Chembert_fineclip
CLIP_TLearn_GraphResGIN_6blocks
CLIP_TLearn_GraphResGIN_7blocks
CLIP_TLearn_GraphResGIN_8blocks
CLIP_TLearn_GraphResGIN_8blocks_v2
CLIP_TLearn_GraphUnet_Chembert_fineclip
CLIP_Tlearn_Chembert_GraphTrans2_4blocks
CLIP_Tlearn_Chembert_GraphTrans2_4blocks_fineclip
CLIP_Tlearn_Chembert_GraphTrans_2blocks
CLIP_Tlearn_Chembert_GraphTrans_3blocks
CLIP_Tlearn_Chembert_GraphTrans_5blocks
FineCLIP_T7e-2_Chembert_GUnet2_finecliped_twice
Graph_Transformer4blocks_temp7e-2_700epochs
model_cbert_gatres_4blocks_2heads.pt
model_cbert_hyb_gatv2_gin_2.pt
model_cbert_hyb_trans_sage3_09208_full.pt
model_cbert_sageres_09084.pt
model_cbert_transf_4blocks_2heads_2_09175.pt

In [21]:
strg+str(weights)

' 0.8544 0.8499 0.8672 CLIP_Chembert_GraphTrans4blocks_temp007_700epoch_plus400fineclip CLIP_TLearn_GraphPNA2_Chembert_fineclip CLIP_TLearn_GraphResGIN_6blocks CLIP_TLearn_GraphResGIN_7blocks CLIP_TLearn_GraphResGIN_8blocks CLIP_TLearn_GraphResGIN_8blocks_v2 CLIP_TLearn_GraphUnet_Chembert_fineclip CLIP_Tlearn_Chembert_GraphTrans2_4blocks CLIP_Tlearn_Chembert_GraphTrans2_4blocks_fineclip CLIP_Tlearn_Chembert_GraphTrans_2blocks CLIP_Tlearn_Chembert_GraphTrans_3blocks CLIP_Tlearn_Chembert_GraphTrans_5blocks FineCLIP_T7e-2_Chembert_GUnet2_finecliped_twice Graph_Transformer4blocks_temp7e-2_700epochs model_cbert_gatres_4blocks_2heads.pt model_cbert_hyb_gatv2_gin_2.pt model_cbert_hyb_trans_sage3_09208_full.pt model_cbert_sageres_09084.pt model_cbert_transf_4blocks_2heads_2_09175.pt [1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2, 2, 2]'